{% extends "blog/base.html" %}
{% block content %}
    {% for p in blog_posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ user.userprofile.profile_picture.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="#" class="mr-2">{{ p.author }}</a>
                    <small class="text-muted">{{ p.date_posted|date:"d-M-Y H:i" }}</small>
                </div>
                <h2><a href="#" class="article-title">{{ p.title }}</a></h2>
                <p class="article-content">{{ p.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}
